.Quiz{
    text-align: center;
}
.questionNumber{
    display:inline-block;
    border:1px solid black;
    
}
.quizSection{
    font-family: Roboto;
    border: 1px solid #D8D8D8;
    box-shadow: 0 0 25px #7e8795;
    background-color: #ffffff;
    padding: 20px 40px 40px 40px;
    border-radius: 2px;
}
.questionNumbers{
    font-weight:bold;
    color:#bfbfbf;
    padding-top:10px;

}
.questionFormat{
    font-weight:bold;
    font-size:16px;
    color:#191c1f;
    padding-top:10px;
}
.optionContainer{
    border:1px solid #c1c7d0;
    padding:5px 10px 11px 5px;
    margin-bottom:15px;
}
.options{
    font-size:16px;
    font-family:Roboto;
    position: relative;
    left: 10px;
    top: 2px;
}
.startQuizButton{
    text-align:center;
    padding-top:20px;
    margin-bottom:2em
}
.controlButtonsNext{
    width: 120px;
    color: rgb(74, 109, 235);
    border: 1px solid rgb(74, 109, 235);
    text-align: center;
    padding: 3px 0px;
}
.controlButtonsPrevious{
    width: 120px;
    color: rgb(74, 109, 235);
    border: 1px solid rgb(74, 109, 235);
    text-align: center;
    padding: 3px 0px;
    float:right;
}
.questionContainer{
    padding: 3em;
    background-color: #F0FFFF;;
    min-height: 650px;
    font-family: Roboto;
}
.questionHeading{
    text-align:center;font-weight:bold;color:#888888;font-size:20px;padding-bottom:2em;
}
.questionNumberDisplay{
    display: inline-block;
    margin: 0px 10px 15px 0px;
    padding-top: 15px;
    border: 1px solid #7e8795;
    width: 50px;
    height: 52px;
    text-align: center;
    color: #fff;
    background-color: #7e8795;
    font-size: 16px;
    font-weight: bold;
}
.legendAnswered{
    padding:15px 0px 0px 0px;display:inline-block;
}
.legendAnsweredStyle{
    padding: 0px 8px;background-color:#56af5a;
}
.legendAnsweredText{
    display:inline-block;padding-left:10px;position:absolute;color:#626d7c;font-size:16px;
}
.legendUnAnswered{
    padding-left : 100px;display:inline-block;
}
.legendUnAnsweredStyle{
    padding: 0px 8px;background-color:#7e8795;
}
.legendUnAnsweredText{
    padding-left:10px; position:absolute;color:#626d7c;font-size:16px;
}
.legendSelected{
    padding-top : 10px;
}
.legendSelectedStyle{
    padding: 0px 8px;background-color:#ffffff;
}
.legendSelectedText{
    padding-left:10px; position:absolute;color:#626d7c;font-size:16px;
}
.submitQuiz{
    border: 1px solid #6d7681;text-align: center;padding: 5px;color: #6d7681;font-size: 16px;margin:2em;cursor:pointer;
}
.legend{
    padding-left:2em;
}

