@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400|Kaushan+Script&display=swap");
:root {
  --primaryColor: #f15025;
  --primaryDarkColor: #c02c03;
  --primaryFont: "Catamaran", sans-serif;
  --slantedFont: "Kaushan Script", cursive;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #ececec;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --maxWidth: 40rem;
  --smallWidth: 85vw;
  --fullWidth: 1170px;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primaryFont);
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primaryFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.3);
}
img {
  width: 100%;
  display: block;
}
.loading {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.7rem;
  margin-top: 3rem;
  letter-spacing: var(--mainSpacing);
}
.loading img {
  width: 10rem;
  margin: 0 auto;
}

.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.btn-white {
  background: transparent;
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }
}

.section {
  padding: 4rem 0;
}
.classes {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 19.69rem;
}
.classes:hover {
  box-shadow: var(--darkShadow);
}
.img-container {
  padding: 3rem;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  /* height: 5rem; */
}
.classes img {
  transition: var(--mainTransition);
  min-height: 9rem;
}

.classes:hover img {
  opacity: 0.3;
}

.hero {
  min-height: calc(65vh);
  background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.2) 40%,
      rgba(255, 255, 255, 0.9)
    ),
    url("./assets/home.jpg") center/cover no-repeat;
  display: flex;
  justify-content: left;
  align-items: top;
  color: var(--primaryDarkColor);
}
.banner {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin-left: 7%;
}
.hero h2 {
  font-size: 2.5 rem;
  font-weight: bold;
  text-transform: capitalize;
}
.hero p {
  font-size: 1.2rem;
  color: black;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}
.btn-hero {
  border-radius: 0;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  background: var(--primaryDarkColor);
  border-color: var(--primaryDarkColor);
  color: var(--mainBlack);
}
.btn-hero:hover {
  color: var(--primaryDarkColor);
}
@media screen and (min-width: 768px) {
  .banner {
    margin-top: 5%;
  }

  .btn-hero {
    font-size: 1.2rem;
    padding: 1rem 3rem;
  }
}
.container {
  max-width: 100%;
  display: block;
}
.editlist {
  width: 15rem;
}
.editform {
  width: 60rem;
}

footer .main-footer {
  padding: 20px 0;
  background: #252525;
}
footer ul {
  padding-left: 0;
  list-style: none;
}

.footer-copyright {
  background: #222;
  padding: 5px 0;
}
.footer-copyright .logo {
  display: inherit;
}
.footer-copyright nav {
  float: right;
  margin-top: 5px;
}
.footer-copyright nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-copyright nav ul li {
  border-left: 1px solid #505050;
  display: inline-block;
  line-height: 12px;
  margin: 0;
  padding: 0 8px;
}
.footer-copyright nav ul li a {
  color: #969696;
}
.footer-copyright nav ul li:first-child {
  border: medium none;
  padding-left: 0;
}
.footer-copyright p {
  color: #969696;
  margin: 2px 0 0;
}

.footer-top {
  background: #252525;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #222;
}

footer.transparent .footer-top,
footer.transparent .main-footer {
  background: transparent;
}
footer.transparent .footer-copyright {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

footer.light .footer-top {
  background: #f9f9f9;
}
footer.light .main-footer {
  background: #f9f9f9;
}
footer.light .footer-copyright {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

.footer- .logo {
  display: inline-block;
}

.widget {
  padding: 20px;
  margin-bottom: 40px;
}
.widget.widget-last {
  margin-bottom: 0px;
}
.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
.widget.subscribe p {
  margin-bottom: 18px;
}
.widget li a {
  color: #ff8d1e;
}
.widget li a:hover {
  color: #4b92dc;
}
.widget-title {
  margin-bottom: 20px;
}
.widget-title span {
  background: #839fad none repeat scroll 0 0;
  display: block;
  height: 1px;
  margin-top: 25px;
  position: relative;
  width: 20%;
}
.widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%;
}
.widget-title.text-center span,
.widget-title.text-center span::after {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.widget .badge {
  float: right;
  background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
  color: #fff;
}

ul.social-footer2 {
  margin: 0;
  padding: 0;
  width: auto;
}
ul.social-footer2 li {
  display: inline-block;
  padding: 0;
}
ul.social-footer2 li a:hover {
  background-color: #ff8d1e;
}
ul.social-footer2 li a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
}

.tableStyle {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

table {
  border-spacing: 0;
  border: 1px solid #ededed;
}
table tr:last-child td {
  border-bottom: 0;
}
table th,
table td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  position: relative;
}
table th:last-child,
table td:last-child {
  border-right: 0;
}
table tr:nth-child(even) {
  background-color: #fafafa;
}

table th::before {
  position: absolute;
  right: 15px;
  top: 16px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
table th.sort-asc::before {
  border-bottom: 5px solid #22543d;
}
table th.sort-desc::before {
  border-top: 5px solid #22543d;
}

.badge {
  background-color: #e0a346;
  color: var(--mainBlack);
  margin-right: 4px;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: none;
}
